{
  "branches": ["main", "next"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "json-sets-formatter.js", "label": "JSON Sets Formatter" }
        ]
      }
    ],
    "@semantic-release/npm"
  ]
}
